@{
    Layout = "~/Views/Shared/_LayoutTwo.cshtml";
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Search Outlet Info</h3>
            </div>

        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Table</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <input type="text" id="load" class="form-control" placeholder="search by outletcode"/>
                        <p id="Status" />
                    </div>
                    <div>
                        <input type="button" id="SearchData" value="Click For Details" class="btn btn-success btn-sm btn-block" />
                    </div>

                   
                        <div class="x_content">
                            <label>Has VisiCooler</label>
                            @Html.TextBox("VisiCool", null, new { @class = "form-control", @readonly = "readonly", @required = "required" })
                                        <label>Region Name:</label>
                                        @Html.TextBox("RegionName", null, new { @class = "form-control", @readonly = "readonly", @required = "required" })
                                        <label>Area Name</label>
                                        @Html.TextBox("AreaName", null, new { @class = "form-control", @readonly = "readonly", @required = "required" })
                                        <label>Ce Area</label>
                                        <input type="hidden" id="VehicleDes" />
                                        @Html.TextBox("CeAreaName", null, new { @class = "form-control", @readonly = "readonly", @required = "required" })
                                        <label>DB Name</label>
                                        @Html.TextBox("DbName", null, new { @class = "form-control", @readonly = "readonly", @required = "required" })
                                        <label>Cluster</label>
                                        @Html.TextBox("cluster", null, new { @class = "form-control", @readonly = "readonly", @required = "required" })
                                        <label>PSR Name</label>
                                        @Html.TextBox("PSRName", null, new { @class = "form-control", @readonly = "readonly", @required = "required" })
                                        <label style="color:blue">SubRoute</label>
                                        @Html.TextBox("SubRoute", null, new { @class = "form-control", @readonly = "readonly", @required = "required" })
                                        <label style="color:red">Outlet Code</label>
                                        @Html.TextBox("OutletCode", null, new { @class = "form-control", @readonly = "readonly", @required = "required" })

                                        <label>Outlet Name</label>
                                        @Html.TextBox("OutLetName", null, new { @class = "form-control", @readonly = "readonly", @required = "required" })
                                        <label>Outlet Address</label>
                                        @Html.TextBox("Address", null, new { @class = "form-control", @readonly = "readonly" })
                            </div>    
                        </div>

                        </div>
                </div>
            </div>
        </div>
   


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    $("#SearchData").prop('disabled', false);
    $("#SearchData").click(function () {
        $.ajax({
            url: "@Url.Action("GetOutletcode", "VisiCooler")",
            data: { outletcode: $("#load").val() },
            type: "GET",
            dataType: "json",
            success: function (data) {
                if (data.length > 0) {
                    $("#RegionName").val(data[0].RegionName);
                    $("#AreaName").val(data[0].AreaName);
                    $("#CeAreaName").val(data[0].CeAreaName);
                    $("#DbName").val(data[0].DbName);
                    $("#Address").val(data[0].Address);
                    $("#cluster").val(data[0].cluster);
                    $("#PSRName").val(data[0].PSRName);
                    $("#SubRoute").val(data[0].SubRoute);
                    $("#OutletCode").val(data[0].OutletCode);
                    $("#OutLetName").val(data[0].OutLetName);
                    $("#OwnerName").val(data[0].OwnerName);
                    $("#ContactNum").val(data[0].ContactNum);
                    $("#ChannelName").val(data[0].ChannelName);
                    $("#OutletCatagory").val(data[0].OutletCatagory);
                    $("#VisiCool").val(data[0].VisiCool);
                    $("#btnSave").prop('disabled', false);
                    //window.location.reload();
                }
                else {
                    alert("Outletcode not found");
                }
            },
            error: function (data) {
                alert("error found");
            }
        });
    })

    function ReLoad() {
        alert("Are you sure reset the page ...?")
        location.reload();
    }

</script>
